<div class="grid square">
  <div class="content">
    <table>
      <tbody>
        <tr class="row-4">
          <td class="data-0"></td>
          <td class="data-1"></td>
          <td class="data-2"></td>
          <td class="data-3"></td>
          <td class="data-4"></td>
        </tr>
        <tr class="row-3">
          <td class="data-0"></td>
          <td class="data-1"></td>
          <td class="data-2"></td>
          <td class="data-3"></td>
          <td class="data-4"></td>
        </tr>
        <tr class="row-2">
          <td class="data-0"></td>
          <td class="data-1"></td>
          <td class="data-2"></td>
          <td class="data-3"></td>
          <td class="data-4"></td>
        </tr>
        <tr class="row-1">
          <td class="data-0"></td>
          <td class="data-1"></td>
          <td class="data-2"></td>
          <td class="data-3"></td>
          <td class="data-4"></td>
        </tr>
        <tr class="row-0">
          <td class="data-0"><Robot @robot={{this.robot}}/></td>
          <td class="data-1"></td>
          <td class="data-2"></td>
          <td class="data-3"></td>
          <td class="data-4"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>